body {
  background: #FF2DD1;

  margin: 0; 
  height: 100vh; /*ทำให้ไม่มีขอบ แสดงได้เต็ม*/

  display: flex;
  justify-content: center;
  align-items: center; /*ทำให้คงที่แล้วให้มันอยู่ตรงกลาง*/
}

 /*ทำให้ข้อความอยู่ตรงกลางแล้วปรับ Font*/
.container {
  text-align: center;
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*สีของข้อความ*/
.title {
  font-size: 40px;
}

/*สีของแสดงตัวเลข*/
#count {
  font-size: 60px;
  user-select: none;
}

/*ปรับขนาดกรอบ ระยะห่างระหว่างขอบ และขนาดข้อความในปุ่ม*/
button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  user-select: none;

  background-color: #4DFFBE;
  border: none;
  border-radius: 5px;
  cursor: pointer;         
}

.card {
  background-color: #FDFFB8;
  border-radius: 15px;
  padding: 40px 60px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  width: 400px;
  height: 320px;
  max-width: 50vw;
  max-height: 50vh;
  overflow-y: auto;
}